<!--component html goes here -->
<div class="row bg">
    <h1 class="title"></h1>
    <div class="col-md-2 ">
    </div>
    <div class="col-md-6 login-box">
        <h2 class="login-title">Login</h2>
        <form #loginForm="ngForm" (ngSubmit)="loginForm.valid && onLogin(loginForm.value)">
            <div class="login-form">
                <div class="col-md-6 ">
                    <mat-form-field>
                        <input matInput #nameref="ngModel" name="user_name" placeholder="User Name" type="user_name" [(ngModel)]="user_name" required>
                        <mat-error *ngIf="nameref.hasError('required')">
                            User Name is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field>
                        <input matInput #passwordref="ngModel" name="password" placeholder="Password" type="password" [(ngModel)]="password" required>
                        <mat-error *ngIf="passwordref.hasError('required')">
                            Password is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-12 btn-align">
                    <div class="col-md-6">
                        <button mat-button class="btn-color">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4 ">
    </div>
</div>